<div class="rounded-xl shadow-lg p-12 w-full relative backdrop-blur-md">
  <div class="text-center mb-10">
    <h1 class="text-3xl font-bold mb-2 bg-clip-text text-black">
      Crear cuenta</h1>
    <p class="text-gray-400 text-base font-normal">Únete a nuestra comunidad</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col gap-6" id="registerForm">
    <div class="relative">
      <label class="block mb-2 text-gray-400 text-sm font-medium" for="registerEmail">Correo electrónico</label>
      <input id="registerEmail" name="email" formControlName="email"
        class="w-full px-4 py-3 border rounded-lg text-gray-500 text-base transition-all outline-none placeholder:text-gray-500"
        type="email" placeholder="tu@email.com" required />

      @if (email?.invalid && (email?.dirty || email?.touched)) {
      <div class="text-red-400 text-xs mt-2">
        @if (email?.hasError('required')) {
        <div>El correo es obligatorio.</div>
        }
        @if (email?.hasError('email')) {
        <div>El correo no es válido.</div>
        }
      </div>
      }
    </div>

    <div class="relative">
      <label class="block mb-2 text-gray-400 text-sm font-medium" for="registerPassword">Contraseña</label>
      <input id="registerPassword" name="password" formControlName="password"
        class="w-full px-4 py-3 border rounded-lg text-gray-500 text-base transition-all outline-none placeholder:text-gray-500"
        type="password" placeholder="Escribe tu contraseña" required />

      @if(password?.invalid && password?.touched) {
      <div class="text-red-400 text-xs mt-2">
        @if(password?.hasError('required')) {
        <div>La contraseña es obligatoria.</div>
        }
        @if(password?.hasError('minlength')) {
        <div>Debe tener al menos 6 caracteres.</div>
        }
      </div>
      }
    </div>

    <div class="relative">
      <label class="block mb-2 text-gray-400 text-sm font-medium" for="confirmPassword">Confirmar contraseña</label>
      <input id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
        class="w-full px-4 py-3 border rounded-lg text-gray-500 text-base transition-all outline-none placeholder:text-gray-500"
        type="password" placeholder="Repite tu contraseña" required />

      @if(confirmPassword?.invalid && confirmPassword?.touched) {
      <div class="text-red-400 text-xs mt-2">
        @if(confirmPassword?.hasError('required')) {
        <div>Debes confirmar tu contraseña.</div>
        }
      </div>
      }

      @if(registerForm.hasError('passwordMismatch') && registerForm.touched) {
      <div class="text-red-400 text-xs mt-2">Las contraseñas no coinciden.</div>
      }
    </div>

    <button type="submit"
      class="flex items-center justify-center px-6 py-3 rounded-lg font-semibold bg-black text-white shadow-md transition disabled:opacity-60 disabled:cursor-not-allowed hover:bg-gray-800"
      id="registerBtn" [disabled]="loading()">
      {{ loading() ? 'Cargando' : 'Crear cuenta' }}
    </button>
  </form>

  <div class="flex items-center justify-center mt-8 gap-2">
    <span class="text-gray-400 text-sm">¿Ya tienes una cuenta?</span>
    <button type="button" class="text-black hover:underline text-sm font-semibold" [routerLink]="['/auth/login']">
      Iniciar sesión
    </button>
  </div>
</div>

@if(hasError()) {
<div role="alert"
  class="animate-fadeIn fixed bottom-5 right-5 w-52 bg-red-100 text-red-800 border border-red-300 rounded-lg p-4 shadow-md">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Por favor revise la información ingresada.</span>
</div>
}

@if(isRegistering()) {
<div role="alert"
  class="animate-fadeIn fixed bottom-5 right-5 w-52 bg-green-100 text-green-800 border border-green-300 rounded-lg p-4 shadow-md">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Éxito al registrar, hemos enviado un código de verificación, por favor revise su correo electrónico para
    continuar</span>
</div>
}
