<div class="flex flex-col gap-6 rounded-xl shadow-lg p-12 w-full relative backdrop-blur-md">
  @if(error) {
    <div class="text-red-600 bg-red-100 p-4 rounded">
      <strong>{{ errorCode }}</strong>: {{ errorDescription }}
    </div>
  } @else {
  <div class="text-center mb-10">
    <h1 class="text-3xl font-bold mb-2 bg-clip-text text-black">
      Confirmar contraseña</h1>
    <p class="text-gray-400 text-base font-normal">La contraseña se ha verificado correctamente</p>
  </div>

  <button [routerLink]="'/auth/login'"
    class="flex items-center justify-center px-6 py-3 rounded-lg font-semibold bg-black text-white shadow-md transition disabled:opacity-60 disabled:cursor-not-allowed hover:bg-gray-800">
    Iniciar Sesión
  </button>
  }
</div>
